@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Rubik';
}
header h3{
    font-weight: 600;
    color: #50b5a0;
    margin-top: 10px;
}
header p {
    font-weight: 100;
    font-size: small;
}
main {
    padding-top: 1%;
    padding-bottom: 5%;
}
main section{
    width: 50%;
}
section .region-picker {
    padding-left: 10px;
}
section .region-picker label {
    font-weight: 200;
    color: darkslategrey;
    font-size: 0.9em;
    margin: 10px 10px 0;
}
section .region-picker option {
    margin: 3px 5px 0;
}

section div.get_result {
    margin-top: 20px;
    padding: 15px 10px;
    background-color:oldlace;
}
section div.get_result>p {
    font-weight: 100;
    font-size: 0.9em;
}
footer {
    background-color: #50b5a0;
    width: 100%;
    padding: 5px 2vh 0;
    color: blanchedalmond;
}

a {
    
    color:darkslategrey;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
.accordion {
    font-size: 0.9em;
}
.accordion-item {
    background-color: inherit;
}
.accordion-body {
    background-color: rgb(233, 233, 229);
    color: #50b5a0;
}
.accordion-header>button {
    font-weight: 100;
}
.accordion-button:not(.collapsed) {
    background-color: #a5f1e2;
    color: rgb(44, 42, 40);
}